.prof{
  display: grid; 
  grid-auto-flow: row dense; 
  grid-template-columns:repeat(auto-fill,minmax(500px,1fr));
  gap: 10px 10px; 

}

.l-gird {
	background-color:red;
}
.t-grid{
	background-color:blue;
	margin: 0px 0px 10px 0px;
}
.b-grid {
	background-color:green;
}

.prof img {
	width:200px; 
}



p {
	background-color: red;
	margin:10px;
}
